@{
    ViewData["Title"] = "Laptop Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<hr />
<h3>Laptop Rules and Regulations</h3>
<hr />
<p>
    <ol>
        <li>All laptops must pass through IT before loaning to ensure that proper settings are in place prior to the intended user taking the system off-site.</li>
        <li>Laptops must have the designated user sign into the system while it is connected locally to the OsbornePro network. <br />(This passes the security information along to the system in case it is lost or stolen.)</li>
        <li>Upon return, laptops must be checked in with an IT staff member, not merely dropped off in a mailbox or at a user's desk without said user present.</li>
        <li>Laptops will be made available to other staff members upon re-certification if it is a loaner-designated system.</li>
    </ol>

    <hr />
    <h3>Laptop Usage and Guidelines</h3>
    <hr />
    <ol>
        <li>This laptop is property of OsbornePro and provided to you for your use for OsbornePro business purposes. </li>
    </ol>


    <hr />
    <h3>FAQ</h3><hr />
    <strong>Q:</strong> What if I miss the window for credential renewal or don't log into the system during the checkout process?<br />
    <strong>A:</strong> We have measures in place to allow us to log into the system remotely, but only through an internet connection.<br />
</p>
<hr />
