
@{
    ViewData["Title"] = "Exported";
}

<h1>Table Export Complete</h1>

<p>
    Table export is complete. The exported document can be found on the server. After I finish finding a way to create a secured connection for file transfers from the server to client you will be able to select where the file is saved.
</p>