
@{
    ViewData["Title"] = "Exported";
}

<h1>Table Export Complete</h1>

<p>
    Table export is complete. The exported document can be found on the server. A copy of the email has been sent to the laptop form distribution group. 
</p>
